@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

#movie
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 50px auto 0 auto;

}

.divider-title{
  background: #fff;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 0 20px;
      text-transform: uppercase;
      font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  }

 .divider{
    border-top: 1px solid #d9dadc;
        display: block;
        line-height: 1px;
        margin: 25px 0;
        position: relative;
        text-align: center;
    }

#movie .movie-container {
  margin: 20px 0;

}

#movie .movie-container select {

  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  appearance: none;
  
}

#movie .container {
  perspective: 1000px;
  margin-bottom: 30px;
  
  
}

#movie .seat {
  background-color: #afafaf;
  height: 20px;
  width: 40px;
  margin: 10px 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color :white
  
}

#movie .seat.selected {
  background-color: #21dac7;
}

#movie .seat.occupied {
  background-color: rgb(0, 0, 0);
}


#movie .seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

#movie .showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

#movie .showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  width: 400px;
  justify-content: space-between;
}

#movie .showcase li {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  margin: 0 0px;
}

#movie .showcase li small {
  margin-left: 2px;
}

#movie .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0px;
}


#movie p.text {
  margin: 5px 0;
}

#movie p.text span {
  color: #6feaf6;
}
